## Data types

In [5]:
x = 10
x

10

In [6]:
print(x)

10

In [7]:
type(x)

int

In [8]:
x = 10.3

In [9]:
type(x)

float

In [10]:
y = "latha"
y

'latha'

In [11]:
type(y)

str

In [12]:
course = "ai"
course
type(course)

str

#### Rules for naming varibales

In [13]:
book_names = ["python","ai","ds"]
book_names

['python', 'ai', 'ds']

#### space is not allowed
#### only allowed spl character in underscore
#### variable name should not start with a number
#### variable name should start with A-Z,a-z

## Data Structures

### Lists
####  Square bracket [ ]
### we can retrieve elements using index and index start from 0
### mutable->we can make the changes

In [17]:
sample_list = [1,2,3,4.5,5,1,"hi"]
sample_list

[1, 2, 3, 4, 5, 1, 'hi']

In [18]:
type(sample_list)

list

In [19]:
sample_list[0]

1

In [20]:
sample_list[10]

IndexError: list index out of range

In [22]:
sample_list[0] = 100

sample_list

In [23]:
sample_list

[100, 2, 3, 4, 5, 1, 'hi']

### Tuple
#### paranthesis ( )
### we can retrieve elements using index and index start from 0
### mutable->we can not make the changes

In [27]:
sample_tuple = (1,2,3,4.5,5,1,"hi")
sample_tuple

(1, 2, 3, 4.5, 5, 1, 'hi')

In [28]:
type(sample_tuple)

tuple

In [29]:
sample_tuple[0]

1

In [30]:
sample_tuple[0] =100

TypeError: 'tuple' object does not support item assignment

### {}
### Duplication are not allowed
### arranged according to first place
### cannot access using index
### set is mutable

In [32]:
sample_set = {1,2,3,4,35.6,"hi",2}
sample_set

{1, 2, 3, 35.6, 4, 'hi'}

In [33]:
sample_set.add(100)
sample_set

{1, 100, 2, 3, 35.6, 4, 'hi'}

In [34]:
sample_set.remove("hi")

In [35]:
sample_set

{1, 2, 3, 4, 35.6, 100}

# dictionary
### key-value pair data structure 
### key is unique values can be changed(mutable)
### value can br retrived using key
### key cannot be retrived using value

In [1]:
sample_dict = {1 : "apple",2 : 35.5,3 : "data",2 : "every",6 :35,7:45,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35, 7: 45}

In [3]:
sample_dict[3]

'data'

In [4]:
sample_dict["data"]

KeyError: 'data'

In [5]:
sample_dict[7] = 100

In [6]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35, 7: 100}

In [7]:
sample_dict[2] = "business"

In [8]:
sample_dict

{1: 'apple', 2: 'business', 3: 'data', 6: 35, 7: 100}